---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dra. Salomé Buniva - Odontología Integral</title>
	</head>
	<body class="bg-[#FBF8F4]">
		<Navbar />
		<main class="pt-32 px-6">
		</main>
	</body>
</html>
